<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to the new coming engineer as below:</p>
    <%- include _temp/template.ejs%>
    <%- include a.ejs%>
    <%- include b.ejs%>
  </body>
</html>